<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='processingStyles.css') }}">
</head>
<body>
    <div id="loading-container">
        <div id="loading-text">Processing</div>
        <div id="loading-circle">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                window.location.href = '/results';
            }, 5000); // Simulate a 5-second loading time
        });
    </script>
</body>
</html>
